* {
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    color: #ffffff;
    background-color: #ff2929;
    padding: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-image {
    width: 20px;
    height: auto;
}

.logo h1 {
    margin: 0;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
.pokemon-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    background-color: #ffffff;
}

.pokemon-container :hover {
    background-color: #ccc;
    transform: translate(10px);
}

.pokemon-card img {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 65rem){
    .pokemon-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}

@media screen and (max-width: 35rem){
    .pokemon-container {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
}



